<div class="navbar-container">
  <h2 class="title">Productos </h2>
  <div class="navbar">
    <a href="/"> Home Page</a>
    <a href="/cart/{{usuario.cart}}">Cart</a>
    <a href="/api/sessions/logout">Logout</a>
  </div>
</div>

<hr />
<br />

{{#if usuario}}
  <p id="welcome-message" data-cart="{{usuario.cart}}">Bienvenido,
    {{usuario.role}}:
    {{usuario.first_name}}
    {{usuario.last_name}}</p>
{{/if}}

<br />
<div id="product-list" class="list-container">
  {{#each products}}
    <ul id="{{_id}}" class="products">
      <p class="title-product">{{title}}</p>
      <li class="img-product">{{thumbnail}}</li>
      <li id="price" data-price="{{price}}">${{price}}</li>
      <li><strong>Descripción:</strong> {{description}}</li>
      <li><strong>Categoría:</strong> {{category}}</li>
      <button type="button" class="btn-add-cart" data-id="{{_id}}">🛒</button>
    </ul>

  {{/each}}
</div>

<script src="/js/addToCart.js"></script>